dist/
node_modules/
yarn-error.log

# Supabase
**/supabase/.branches
**/supabase/.temp
**/supabase/config.toml
supabase/seed.sql

#Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Editors Specific Configs
.idea/
.vscode/

# Bundle status
stat.json
stats.html

# Cypress environment variables
/cypress.env.json
cypress/videos
cypress/screenshots/
