dist/
node_modules/
yarn-error.log
src/configs/

# Supabase
**/supabase/.branches
**/supabase/.temp
**/supabase/config.toml

#Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Editors Specific Configs
.idea/
.vscode/

# Bundle status
stat.json
stats.html
